.carousel {
    max-height: 500px; /* Set maximum height as needed */
    overflow: hidden; /* Hide overflow to prevent scrolling outside carousel */
  }
  
  .carousel-item {
    height: 500px; /* Set height of each carousel item */
  }
  
  .carousel-item img {
    object-fit: cover; /* Ensure images cover entire slide */
    height: 500px; /* Match carousel item height */
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for captions */
    width: 100%;
    bottom: 0;
    position: absolute;
  }
  
  .carousel-caption h3,
  .carousel-caption p {
    color: #fff; /* White text color for captions */
  }
  
  @media (max-width: 768px) {
    .carousel-item {
      height: 300px; /* Adjust height for smaller screens */
    }
  
    .carousel-item img {
      height: 300px; /* Match carousel item height for smaller screens */
    }
  }
  