.aboutus {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus_container {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.aboutus_welcome {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #1c160c;
  font-weight: bold;
}

.aboutus_content_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.aboutus_image {
  max-width: 40%;
  height: auto;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.aboutus_intro {
  flex: 1;
  text-align: left;
  max-width: 50%;
}

.aboutus_title {
  font-size: 2.5em;
  color: #1c160c;
  margin-bottom: 15px;
}

.aboutus_short_description {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #666;
}

.aboutus_stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.aboutus_stat {
  text-align: center;
  background-color: #e0f7fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stat_icon {
  font-size: 2.5em;
  color: #00796b;
  margin-bottom: 10px;
}

.stat_info {
  font-size: 1.2em;
  color: #004d40;
}

.stat_number {
  font-size: 1.5em;
  color: #00796b;
}

.stat_label {
  font-size: 1em;
  color: #004d40;
}

.explore_more_button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.explore_more_button:hover {
  background-color: #388E3C;
}

.section_title {
  font-size: 1.7em;
  font-weight: 600;
  color: #1c160c;
  text-align: center;
  margin-bottom: 20px;
}

.founder_box {
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.founder_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.founder_image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.founder_image img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 50%;
}

.founder_content {
  flex: 2;
  padding: 20px;
  text-align: center;
}

.founder_content h3 {
  font-size: 2em;
  color: #1c160c;
  margin-bottom: 10px;
}

.founder_content p {
  font-size: 1em;
  line-height: 1.6;
  color: #1c160c;
  font-weight: normal;
}

.awards_grid {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.award_card {
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.award_card img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 8px;
}

.award_title {
  font-size: 1.5em;
  color: #A18249;
  margin-bottom: 10px;
}

.award_card p {
  font-size: 1em;
  line-height: 1.6;
  color: #1c160c;
  margin-bottom: 10px;
}

.company-images-grid {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.company-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.company-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.company-image img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .aboutus_content_container {
    flex-direction: column;
    align-items: center;
  }

  .aboutus_image {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 80%;
  }

  .aboutus_intro {
    max-width: 100%;
    text-align: center;
  }

  .aboutus_stats {
    flex-direction: column;
    gap: 20px;
  }

  .company-images-grid {
    flex-direction: column;
    gap: 20px;
  }

  .company-image {
    width: 80%;
    margin: 0 auto;
  }

  .awards_grid {
    flex-direction: column;
    gap: 20px;
  }

  .award_card {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .aboutus_title {
    font-size: 1.8em;
  }

  .section_title {
    font-size: 1.6em;
  }

  .founder_section {
    flex-direction: column;
    align-items: center;
  }

  .award_grid {
    flex-wrap: wrap;
    gap: 20px;
  }

  .award_card {
    width: 100%;
  }

  .company-image {
    width: 120px;
    height: 120px;
  }
}
