.aboutus {
  padding: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus_container {
  width: 100%;
  max-width: 1400px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.aboutus_section {
  margin-bottom: 30px;
}

.aboutus_title {
  font-size: 2.5em;
  color: #278b1e;
  text-align: center;
  margin-bottom: 30px;
}

.aboutus_content {
  text-align: center;
  font-size: 1em;
  line-height: 1.6;
  color: #292929;
  max-width: 1100px; /* Adjusted max-width */
  margin: 0 auto; /* Center align horizontally */
  margin-bottom: 70px;
}

.aboutus_content p {
  font-weight: bold; /* Bold font weight for paragraphs */
}


.section_title {
  font-size: 1.7em;
  font-weight: 600;
  color: #278b1e;
  text-align: center;
  margin-bottom: 20px;
}

.founder_box {
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.founder_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.founder_image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.founder_image img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 50%;
}

.founder_content {
  flex: 2;
  padding: 20px;
  text-align: center;
}

.founder_content h3 {
  font-size: 2em;
  color: #278b1e;
  margin-bottom: 10px;
}

.founder_content p {
  font-size: 1em;
  line-height: 1.6;
  color: #242323;
  font-weight: bold;
}

.awards_grid {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.award_card {
  width: 300px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.award_card img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 8px;
}

.award_title {
  font-size: 1.5em;
  color: #278b1e;
  margin-bottom: 10px;
}

.award_card p {
  font-size: 1em;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px;
}

.company-images-grid {
  display: flex;
  justify-content: center;
  gap: 100px; /* Adjusted gap between images */
}

.company-image {
  width: 200px; /* Adjusted image width */
  height: 200px; /* Adjusted image height */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.company-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.company-image img:hover {
  transform: scale(1.1); /* Scale up on hover */
}

@media (max-width: 768px) {
  .aboutus_title {
    font-size: 2em;
  }

  .section_title {
    font-size: 1.8em;
  }

  .founder_image img {
    max-height: 200px;
  }

  .award_card {
    width: 250px;
  }

  .award_title {
    font-size: 1.3em;
  }

  .award_card p {
    font-size: 0.9em;
  }

  .company-image {
    width: 150px; /* Adjusted image width for smaller screens */
    height: 150px; /* Adjusted image height for smaller screens */
  }
}

@media (max-width: 480px) {
  .aboutus_title {
    font-size: 1.8em;
  }

  .section_title {
    font-size: 1.6em;
  }

  .founder_section {
    flex-direction: column;
    align-items: center;
  }

  .award_grid {
    flex-wrap: wrap;
    gap: 20px;
  }

  .award_card {
    width: 100%;
  }

  .company-image {
    width: 120px; /* Adjusted image width for smaller screens */
    height: 120px; /* Adjusted image height for smaller screens */
  }
}
