/* src/styles/navbar.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px; /* Reduced vertical padding */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

.sticky {
    background-color: #f8f9fa; /* Background color when navbar is sticky */
}

.logo img {
    height: 50px; /* Adjusted logo height */
}

.menu-icon {
    display: none;
    font-size: 22px; /* Adjusted menu icon size */
    cursor: pointer;
    color: #333; /* Menu icon color */
}

.nav-elements {
    display: flex;
    align-items: center;
}

.nav-elements ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-elements li {
    margin-left: 15px; /* Reduced margin between menu items */
}

.nav-elements a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-elements a:hover {
    color: #28a745; /* Hover color */
}

.active {
    color: #28a745; /* Active link color */
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Display menu icon on smaller screens */
    }

    .nav-elements {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 56px; /* Adjusted top position */
        left: 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out; /* Smooth transition for visibility */
        z-index: 999; /* Ensure menu is above content */
    }

    .nav-elements.active {
        display: flex; /* Display nav elements when active */
    }

    .nav-elements ul {
        flex-direction: column;
    }

    .nav-elements li {
        margin: 8px 0; /* Adjusted margin for list items */
    }

    .menu-icon {
        position: absolute;
        top: 12px; /* Adjusted top position for menu icon */
        right: 20px;
    }
}
