.project-page {
  /* font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif; */
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.header-title {
  color: #1C160C;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.header-description {
  color: #A18249;
  font-size: 1rem;
  line-height: 1.5;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;
  width: 80%;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px; /* Adjust padding as needed */
  background-color: #FFFFFF; /* Optional: Add a background color */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}

.project-image {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.project-title {
  font-size: 1rem;
  font-weight: 500;
  color: #1C160C;
}

/* Styles for the other projects slider */
.other-projects-container {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.other-projects-title {
  color: #1C160C;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;;
}

.other-projects-slider {
  display: flex;
  overflow-x: auto;
  gap: 40px;
  padding: 16px 0;
}

.other-project-card {
  flex: 0 0 auto;
  width: 250px;
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
  text-align: center;
  height: 300px;
  margin-left: 50px;
}

.other-project-image {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 8px;
}

.other-project-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1C160C;
}
