.main-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
 
  border-radius: 10px;
}

.image-container {
  flex: 0 0 600px; /* Fixed width for the image container */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  margin-right: 80px;
}

.solar-image {
  width: 100%; /* Ensure the image takes the full width of the container */
  border-radius: 10px;
}

.calculator-container {
  flex: 1;
}

.total-savings-container {
  padding: 20px;
  
  border-radius: 10px;
  background-color: #fff;
}

.total-savings-container h2 {
  text-align: center;
  color: #A18249;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #019863;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #017a53;
}

.results {
  margin-top: 20px;
  text-align: center;
}

.results p {
  font-size: 1.2em;
  color: #333;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
  }

  .image-container {
    flex: 0 0 auto;
    padding-right: 0;
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
  }

  .total-savings-container {
    padding: 15px;
  }

  .form-group input,
  .form-group select {
    padding: 8px;
  }

  button {
    padding: 8px;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 400px) {
  .form-group input,
  .form-group select {
    padding: 6px;
  }

  button {
    padding: 6px;
    font-size: 0.8em;
  }
}
