.aboutus {
  padding: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align horizontally */
  min-height: 100vh; /* Ensure full viewport height */
}

.aboutus_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.aboutus_box_content {
  text-align: center;
  padding: 20px;
  flex: 1;
}

.aboutus_box_image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.aboutus_box_image img {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Adjusted maximum height */
  border-radius: 8px;
}

.circular-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.circular-image {
  border-radius: 50%;
  max-height: 150px; /* Reduced maximum height */
  width: 150px; /* Ensure it maintains the circular shape */
}

.aboutus_box_content h1 {
  font-size: 2em;
  color: #278b1e;
  margin-bottom: 10px;
}

.aboutus_box_content h3 {
  font-size: 1.5em;
  color: #444;
  margin-bottom: 10px;
}

.aboutus_box_content p {
  font-size: 1em;
  line-height: 1.4;
  color: #666;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .aboutus_box {
    flex-direction: column;
  }

  .aboutus_box_content h1 {
    font-size: 1.8em;
  }

  .aboutus_box_content h3 {
    font-size: 1.3em;
  }

  .aboutus_box_content p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .aboutus_box {
    margin: 0 10px;
  }

  .aboutus_box_content {
    padding: 10px;
  }

  .aboutus_box_content h1 {
    font-size: 1.6em;
  }

  .aboutus_box_content h3 {
    font-size: 1.2em;
  }

  .aboutus_box_content p {
    font-size: 0.8em;
  }

  .aboutus_box_image {
    padding: 10px;
  }

  .aboutus_box_image img {
    max-height: 200px; /* Further reduce maximum height for small screens */
  }
}
